In [59]:
import pandas as pd
import numpy as np

In [60]:
census_starter = pd.read_csv('census_starter.csv')

In [61]:
census_starter.head()

,pct_bb_2017,pct_bb_2018,pct_bb_2019,pct_bb_2020,pct_bb_2021,cfips,pct_college_2017,pct_college_2018,pct_college_2019,pct_college_2020,...,pct_it_workers_2017,pct_it_workers_2018,pct_it_workers_2019,pct_it_workers_2020,pct_it_workers_2021,median_hh_inc_2017,median_hh_inc_2018,median_hh_inc_2019,median_hh_inc_2020,median_hh_inc_2021
0,76.6,78.9,80.6,82.7,85.5,1001,14.5,15.9,16.1,16.7,...,1.3,1.1,0.7,0.6,1.1,55317,58786.0,58731,57982.0,62660.0
1,74.5,78.1,81.8,85.1,87.9,1003,20.4,20.7,21.0,20.2,...,1.4,1.3,1.4,1.0,1.3,52562,55962.0,58320,61756.0,64346.0
2,57.2,60.4,60.5,64.6,64.6,1005,7.6,7.8,7.6,7.3,...,0.5,0.3,0.8,1.1,0.8,33368,34186.0,32525,34990.0,36422.0
3,62.0,66.1,69.2,76.1,74.6,1007,8.1,7.6,6.5,7.4,...,1.2,1.4,1.6,1.7,2.1,43404,45340.0,47542,51721.0,54277.0
4,65.8,68.5,73.0,79.6,81.0,1009,8.7,8.1,8.6,8.9,...,1.3,1.4,0.9,1.1,0.9,47412,48695.0,49358,48922.0,52830.0

In [62]:
train = pd.read_csv('train.csv')

In [63]:
train.head()

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243

In [64]:
test = pd.read_csv('test.csv')

In [65]:
test.head()

            row_id  cfips first_day_of_month
0  1001_2022-11-01   1001         2022-11-01
1  1003_2022-11-01   1003         2022-11-01
2  1005_2022-11-01   1005         2022-11-01
3  1007_2022-11-01   1007         2022-11-01
4  1009_2022-11-01   1009         2022-11-01

In [66]:
train.head()

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243

In [67]:
# pct_bb: percentage of households with access to broadband
# pct_college: percentage of people over age 25 with a degree
# pct_foreign_born: percentage of people born outside US
# pct_it_workers: percentage of workforce in tech
# median_hh_inc: median household income for the county
# active: raw number of small businesses in the county
# microbusiness_density: target variable

In [68]:
# we have both the raw number of businesses and density. eventually check if one can be dropped

In [69]:
# there is a two year lag in the data. revisit this later please

In [70]:
# row_id is useless
# county name is redundant for now

train.drop(['row_id', 'county'], axis = 1, inplace = True)

In [71]:
train.head()

   cfips    state first_day_of_month  microbusiness_density  active
0   1001  Alabama         2019-08-01               3.007682    1249
1   1001  Alabama         2019-09-01               2.884870    1198
2   1001  Alabama         2019-10-01               3.055843    1269
3   1001  Alabama         2019-11-01               2.993233    1243
4   1001  Alabama         2019-12-01               2.993233    1243

In [72]:
# group by cfips
# if you are serious about this competition you will likely need more census data and hope they use the same cfips number